//Common Color
@black: #000000;
@gray-dark: #333333;
@blue-medium: #4d4d4d;
@gray-thin: #666666;
@grey: #808080;
@gray-medium: #999999;
@medium-grey: #B2B2B2;
@gray80: #cccccc;
@pink-alert: #E5E5E5;
@gray95: #f2f2f2;
@dark-goldyellow: #EBB100;
@sea-green: #00805A;
@slate-gray: #8EA1B3;
@white: #ffffff;
@red-dark: #c32114;
@btn-hover: #990000;


//Partner Color
@exmark-red: #CD2127;
@exmark-red-icon-color: #CE2127;
@exmark-darkred: #B30000;
@exmark-black: #E9EEF4;
@red-grad-dark: #CC0001;
@red-grad-light: #CF1212;
@red-grad-light: #E37372;
@grey-grad-light: #6E6E6E;
@grey-grad-medium: #7C7C7C;
@grey-grad-dark: #D9D9D9;
@white-stripes: #F6F6F6;
@body-grad-second: #B3C5D9;